node_modules
dist
.DS_Store
*.log
.claude
.agent
release
.shared
.codex
.workflow
.workflows
!build/
build/**
!build/icon.icns
!build/icon.ico
!build/icon.png
!build/logo.png
!build/icons/
!build/icons/**
!build/entitlements.mac.plist
!build/nsis-installer.nsh
!build/tray_icon*.png
cs
package-lock.json
.tmp-*
.vscode
.superpowers